@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');

:root {
    --primary-color-bg: #25ffffda;
    --secondary-color-bg: #4225ffda;
    --color-bg-div: rgba(0, 0, 0, 0.9);
    --color-text-div: #e2e1ff;
    --shadow-relogio: rgba(0, 0, 0, 0.5);
    --shadow-div: rgba(0, 0, 0, 0.7);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Agdasima', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(120deg, var(--primary-color-bg), var(--secondary-color-bg));
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background: transparent;
    box-shadow: 5px 10px 10px var(--shadow-relogio);
    padding: 10px;
    width: 100%;
    max-width: 500px;
}

h1 {
    background: var(--color-bg-div);
    color: var(--color-text-div);
    box-shadow: 3px 3px 9px var(--shadow-div);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    letter-spacing: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

form {
    padding: 10px;
    width: 100%;
    max-width: 500px;
}
form div{
    position: relative;
    margin-top: 10px;
    display: flex;
    align-items: start;
    justify-content: start;
}
label{
    position: absolute;
    top: -20px;
    margin-top: 10px;
    font-size: 20px;
    color: var(--color-text-div);
    background: rgba(0, 0, 0, 0.3);
    padding: 5px;
}
textarea, select {
    margin-top: 25px;
    margin-bottom: 10px;
    resize: none;
    background: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    display: flexbox;
    align-items: start;
    justify-content: start;
}

button {
    background: var(--color-bg-div);
    color: var(--color-text-div);
    box-shadow: 3px 3px 9px var(--shadow-div);
    border-radius: 9px;
    letter-spacing: 2px;
    cursor: pointer;
    width: 100%;
    height: 50px;
    font-size: 30px;
}

button:hover{
    color: var(--color-bg-div);
    background: var(--color-text-div);
    box-shadow: 9px 9px 9px var(--shadow-div);
}

#resultado-traducao {
    margin-top: 20px;
    font-weight: bold;
}
